{{>layout/header}}

<div class="container">
    <div class="d-flex align-items-center flex-column bd-highlight">
        <div class="bg-light" style="padding: 20px; height: 550px;">
            <div class="p-2 bd-highlight border-bottom">
                <h3>간편 로그인</h3>
                <h6>서비스를 이용하려면 로그인이 필요합니다!</h6>
            </div>
            <div class="p-2 bd-highlight">
                <a href="/oauth2/authorization/google" class="btn btn-primary active" role="button">Google로 계속하기</a>
            </div>
            <div class="p-2 bd-highlight">
                <a href="/oauth2/authorization/naver" class="btn btn-success active" role="button">Naver로 계속하기</a>
            </div>
        </div>
    </div>
</div>


</body>
</html>