{{>layout/header}}

<div class="bg-dark container">
    <div class="d-flex align-items-center flex-column bd-highlight mb-3">
        <div class="bg-light">
            <div class="p-2 bd-highlight">
                <h3>간편 로그인</h3>
                <h6>서비스를 이용하려면 로그인이 필요합니다!</h6>
            </div>
            <div class="p-2 bd-highlight">
                <a href="/oauth2/authorization/google" class="btn btn-success active" style="" role="button">Google로 계속하기</a>
            </div>
            <div class="p-2 bd-highlight">
                <a href="/oauth2/authorization/naver" class="btn btn-secondary active" style="" role="button">Naver로 계속하기</a>
            </div>
        </div>
    </div>
</div>


<!-- Bootstrap core JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>